$color-up: rgba(43, 243, 0, 0.26);
$color-down: rgba(201, 0, 20, 0.26);
$color-reset: rgba(0, 255, 237, 0.26);
$color-up-light: rgba(43, 243, 0, 0.4);
$color-down-light: rgba(201, 0, 20, 0.4);
$color-reset-light: rgba(0, 255, 237, 0.4);

:host {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  height: 100%;

  // :first-child {
  //   border-radius: 10px 10px 0px 0px;
  // }

  // :last-child {
  //   border-radius: 0 0 10px 10px;
  // }
}

.counter-display{
  text-align: center;
  flex-grow: 1;
  display: flex;
}

.counter-number {
  margin: auto;
  color: white;
  font-size: 5em;
}

.btn {
  font-weight: bold;
  font-size: 1.5em;

  cursor: pointer;

}

.btn-up {
  color: #fff;
  background: $color-up;
  border-color: transparent;
  &:hover {
    background-color: $color-up-light;
  }
}

.btn-down {
  color: #fff;
  background: $color-down;
  border-color: transparent;
  &:hover {
    background-color: $color-down-light;
  }
}

.btn-reset {
  color: #fff;
  background: $color-reset;
  border-color: transparent;
  &:hover {
    background-color: $color-reset-light;
  }
}

.btn-group-justified {
  display: flex;
  width: 100%;
  > :first-child {
    flex-grow: 1;
    border-right: thin solid black;
  }
}