<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <tt-counter [resetButton]="false" [color]="'rgba(105, 255, 0, 0.67)'" [initial]="50"></tt-counter>
    </div>
    <div class="col">
      <tt-counter [color]="'rgba(255, 0, 0, 0.67)'" [initial]="0"></tt-counter>
    </div>
    <div class="col">
      <tt-counter [color]="'rgba(255, 229, 0, 0.82)'" [initial]="0"></tt-counter>
    </div>
  </div>

</div>