.list-group {
  height: 100vh;
  overflow: auto;
  padding: 1em 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.list-group-item {
  cursor: pointer;
  margin: .1em 0;
}

.form-col {
  padding-top: 1em;
  padding-bottom: 1em;
  height: 100vh;
  overflow-x: auto;
  min-width: 320px;

  label {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }

  button {
    font-weight: bold;
  }
}

.spacer {
  flex-grow: 1;
}

.color-preview-wrapper {
  padding-top: 5px;
  padding-bottom: 12px;
}

.color-preview {
  display: block;
  height: 100%;
  border-radius: 15px;
}

.delete-button {
  margin-top: 1em;
}

.add-button {
  background: rgba(255, 255, 255, 0.2);
}

.hide-keyboard {
  position: fixed;
  clip: rect(0,0,0,0);
  top: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.counter-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter-name {
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 0;
  cursor: pointer;
  flex-grow: 1;
}

.btn-transparent {
  background-color: #c3c3c300;
  color: #fff;
  font-weight: bold;
  cursor: pointer;

  &:hover i {

  }
}

.btn-none {
  pointer-events: none;
  visibility: hidden;
  background-color: transparent;
}

.counter-col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: flex-start;
  min-width: 320px;
  > :first-child {
    margin-top: 15px;
  }
}

.new-counter {
  background-color: #ffffff30;
}

.slider-container {
  display: flex;
  
  label {
    margin-right: 5px;
    width: 20px;
    font-size: 1.15em;
  }

  tt-slider {
    flex-grow: 1;
  }
}

@media only screen and (max-width: 640px) {
  .form-col, .counter-col {
    height: auto;
  }
}