<div class="container-fluid">
  <div class="form-row">
    <div class="col counter-col">
      <div class="counter-select" *ngFor="let counter of counters$ | async; index as i" [style.background]="counter.color">
        <span type="button" class="btn btn-none" *ngIf="i === 0">
          <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
        </span>
        <button type="button" class="btn btn-transparent" *ngIf="i !== 0" (click)="moveUp(i)">
          <i class="fa fa-caret-up fa-fw" aria-hidden="true"></i>
        </button>
        <div class="counter-name" (click)="editCounter(i)">
          {{counter.name}}
        </div>
        <button type="button" class="btn btn-transparent" *ngIf="i !== (total - 1)" (click)="moveDown(i)">
          <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
        </button>
        <span type="button" class="btn btn-none" *ngIf="i === (total - 1)">
          <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
        </span>
      </div>
      <div class="counter-select">
        <div class="counter-name new-counter" (click)="addCounter()">
          <i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <!-- Form -->
    <div class="col form-col" *ngIf="isFormOpen">
      <form [formGroup]="counterForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div class="form-group">
          <label for="default-value">Default Value</label>
          <input type="number" class="form-control" id="default-value" formControlName="initial">
        </div>
        <div class="custom-control custom-checkbox my-1 mr-sm-2">
          <input type="checkbox" class="custom-control-input" id="resetButtonCheckbox" formControlName="reset">
          <label class="custom-control-label" for="resetButtonCheckbox">Reset Button?</label>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="slider-container">
              <label for="redSlider">R:</label>
              <tt-slider id="redSlider" [start]="redMin" [color]="redMax" [value]="red" [max]="255" (valueChanged)="red = $event"></tt-slider>
            </div>
            <div class="slider-container">
              <label for="greenSlider">G:</label>
              <tt-slider id="greenSlider" [start]="greenMin" [color]="greenMax" [value]="green" [max]="255" (valueChanged)="green = $event"></tt-slider>
            </div>
            <div class="slider-container">
              <label for="blueSlider">B:</label>
              <tt-slider id="blueSlider" [start]="blueMin" [color]="blueMax" [value]="blue" [max]="255" (valueChanged)="blue = $event"></tt-slider>
            </div>
            <div class="slider-container">
              <label for="alphaSlider">A:</label>
              <tt-slider id="alphaSlider" [start]="'rgba(0, 0, 0, 0)'" [color]="colorHex" [value]="alpha" [max]="alphaRange" (valueChanged)="alpha = $event"></tt-slider>
            </div>
          </div>
          <div class="col-2 color-preview-wrapper">
            <div class="color-preview" [style.background]="color.value"></div>
          </div>
        </div>
        <div class="form-row">
          <div class="col" *ngIf="currentIndex || currentIndex === 0">
            <button class="btn btn-danger btn-block delete-button" (click)="delete()" type="button">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col">
            <button class="btn btn-secondary btn-block" (click)="cancelEdit()" type="button">
              <i class="fa fa-ban" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col">
            <button class="btn btn-success btn-block" type="button" (click)="saveCounter()">
              <i class="fa fa-check" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <input type="number" class="hide-keyboard" onfocus="blur()">
      </form>
    </div>
  </div>
</div>